/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import 'base/null';
@import 'utils/colors';
@import 'utils/mixin';
@import 'components/contacts';
@import 'components/hero';
@import 'components/products';


