@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.products__subtitle {
  text-transform: uppercase;
  color: #ffa5ba;
  text-align: center;
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.166;
}

.products__title {
  margin-bottom: 144px;
  text-transform: uppercase;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.147;
  letter-spacing: 0.04em;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
  padding-bottom: 41px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 485px;
  border-radius: 24px;
}

.products__item.icecream {
  position: relative;
  background-color: #ffb8ca;
}

.products__item.icecream::before {
  content: url(../images/products_1-mobile.png);
  position: absolute;
  margin: 0;
  top: -113px;
  width: 249px;
  height: 252px;
}

.products__item.coffee {
  position: relative;
  background-color: #f0d1a5;
}

.products__item.coffee::before {
  content: url(../images/products_2-mobile.png);
  position: absolute;
  top: -113px;
  width: 249px;
  height: 252px;
}

.products__item.milkshakes {
  position: relative;
  background-color: #c2e297;
}

.products__item.milkshakes::before {
  content: url(../images/products_3-mobile.png);
  position: absolute;
  top: -113px;
  width: 249px;
  height: 252px;
}

.products__name {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0, auto;
  padding: 0;
  padding-top: 161px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

.products__name::after {
  content: ". . .";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 205px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

.products__text {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0.04em;
}

.products__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/products_arrow.png);
}
/*# sourceMappingURL=main.css.map */