@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section__lable-title--visually-hidden, .section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 44px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    padding: 0, 35px;
  }
}

.btn:hover, .btn:focus {
  color: #d41443;
  background-color: #ecebeb;
}

.btn--accent {
  color: #ffffff;
  background-color: #d41443;
}

.btn--accent:hover, .btn--accent:focus {
  color: #ffffff;
  background-color: #c7133e;
}

.btn--hero {
  width: auto;
  height: auto;
  padding: 7px, 14px;
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
}

.btn--mobile-menu {
  width: 100%;
}

.btn .btn__icon {
  margin-left: 12px;
  fill: currentColor;
  stroke: currentColor;
}

.section {
  padding-top: 110px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
  }
}

.section--products {
  padding-bottom: 110px;
}

@media screen and (min-width: 768px) {
  .section--products {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .section--products {
    padding-bottom: 130px;
  }
}

.section--advantages {
  padding-top: 50px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .section--advantages {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .section--advantages {
    padding-top: 90px;
  }
}

.section__lable-title {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__lable-title {
    font-family: Titan One;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__lable-title {
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
  }
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-family: Titan One;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1050px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .page-header {
    max-width: 1280px;
  }
}

.page-header__container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 480px;
  height: 62px;
  background-color: transparent;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    min-width: 768px;
    height: 87px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header__container {
    min-width: 1280px;
  }
}

.page-header__logo {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 37px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .page-header__logo {
    position: absolute;
    top: 37px;
    left: 46px;
    padding: 0;
  }
}

.logo__icon {
  fill: #d41443;
  stroke: #d41443;
}

@media screen and (max-width: 1279px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 355px;
  }
}

.nav__list {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}

.nav__list:not(last-child) {
  padding-right: 35px;
}

.nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.nav__link--current {
  color: #d41443;
}

.nav__link:hover, .nav__link:focus {
  color: #d41443;
}

.page-header__btn {
  border: none;
}

@media screen and (max-width: 767px) {
  .page-header__btn {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .page-header__btn {
    position: absolute;
    top: 38px;
    right: 34px;
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header__btn {
    position: absolute;
    top: 38px;
    right: 115px;
  }
}

.menu-container__btn {
  width: 100%;
  margin: 0 auto 19px auto;
  border: none;
}

.btn__icon {
  fill: #d41443;
  stroke: #d41443;
}

.menu-container {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  background-color: #e17992;
  transform: translateX(100%);
}

@media screen and (min-width: 480px) {
  .menu-container {
    width: 480px;
    transform: translateX(200%);
  }
}

@media screen and (max-width: 479px) {
  .menu-container {
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    left: 20%;
    width: 600px;
    transform: translateX(400%);
  }
}

@media screen and (min-width: 1280px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-icon__burger {
  transition-property: fill, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #d41443;
  stroke: #d41443;
  cursor: pointer;
}

.menu-icon__burger:hover, .menu-icon__burger:focus {
  fill: #ffffff;
  stroke: #ffffff;
}

.menu-icon {
  transition-property: fill, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
  stroke: #ffffff;
  cursor: pointer;
}

.menu-icon:hover, .menu-icon:focus {
  fill: #d41443;
  stroke: #d41443;
}

.menu-toggle__header {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle__header {
    position: absolute;
    top: 52px;
    right: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-toggle__header {
    display: none;
  }
}

.menu-toggle--mobile-menu {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.nav-menu__list::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  border-top: 1px solid #e18298;
}

.nav-menu__list::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e18298;
}

.nav-menu__list {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
}

.nav-menu__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}

.nav-menu__link:hover, .nav-menu__link:focus {
  color: #d41443;
}

.nav-menu__link--current {
  color: #d41443;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5f6;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .contacts {
    background-image: linear-gradient(#fff 84px, #fff5f6 84px);
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 43px 20px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
}

.contacts-list:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list__item--box {
  padding-bottom: 25px;
}

.contacts-list__item:not(:first-child) {
  padding-top: 25px;
  border-top: 1px solid #e1e1e1;
}

.contacts-list__item:nth-child(2) {
  padding-bottom: 25px;
}

.contacts-category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  width: 80px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f0d1a5;
  border-radius: 4px;
}

.contacts-category__accent {
  width: 130px;
  background-color: #c2e297;
}

.contacts-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.contacts-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #907e82;
}

.contacts-worktime__schedule:first-child {
  margin-bottom: 10px;
}

.contacts-worktime__schedule .contacts-workdays {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts-worktime__schedule .contacts-time {
  color: #ffa5ba;
  line-height: 1.86;
}

.contacts-tel,
.contacts-mail {
  text-decoration: none;
  cursor: pointer;
  color: #907e82;
  line-height: 1.5;
}

/* Секция герой */
.hero {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffb8ca;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 655px;
  }
}

.container-hero {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffb8ca;
  background-image: url(../images/hero_circle_bg.svg);
  background-repeat: no-repeat;
  background-size: 346px 344px;
}

@media screen and (max-width: 417px) {
  .container-hero {
    background-position: bottom 75px left 36px;
  }
}

@media screen and (min-width: 418px) {
  .container-hero {
    background-position: bottom 75px right 36px;
  }
}

@media screen and (min-width: 480px) {
  .container-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
    background-size: 324px 322px;
    background-position: bottom 46px right 137px;
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
    background-size: 538px 538px;
    background-position: bottom 75px right 267px;
  }
}

.hero-ice__thumb {
  position: absolute;
  bottom: 0;
  width: 171px;
}

@media screen and (max-width: 417px) {
  .hero-ice__thumb {
    left: 117px;
  }
}

@media screen and (min-width: 418px) {
  .hero-ice__thumb {
    right: 130px;
  }
}

@media screen and (min-width: 768px) {
  .hero-ice__thumb {
    left: 378px;
    width: 143px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-ice__thumb {
    left: 594px;
    width: 236px;
  }
}

.hero__content {
  position: absolute;
  bottom: 160px;
  left: 20px;
  width: 225px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    bottom: 173px;
    left: 34px;
    width: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__content {
    bottom: 292px;
    left: 115px;
    width: 277px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: Titan One, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.1538;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.1363;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.1578;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.9583;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
    line-height: 0.9117;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 58px;
    line-height: 0.8965;
  }
}

.hero__list {
  display: flex;
}

.hero__item {
  display: flex;
  border-radius: 20px;
}

.hero__item:not(:first-child) {
  margin-left: 8px;
}

@media screen and (min-width: 1280px) {
  .hero__item:not(:first-child) {
    margin-left: 17px;
  }
}

.hero__link--products {
  padding: 7px 14px;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #d41443;
  border-radius: 20px;
  border: 2px solid #d41443;
}

@media screen and (min-width: 1280px) {
  .hero__link--products {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.2857;
  }
}

.hero__link--products:hover, .hero__link--products:focus {
  color: #d41443;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__link--made {
  padding: 7px 14px;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero__link--made {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.2857;
  }
}

.hero__link--made:hover, .hero__link--made:focus {
  color: #ffffff;
  background-color: #d41443;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-milk {
  display: flex;
  position: absolute;
  bottom: 28px;
  left: 34px;
}

@media screen and (max-width: 767px) {
  .hero-milk {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-milk {
    bottom: 45px;
    left: 77px;
  }
}

.hero-milk__thumb {
  width: 124px;
  height: 126px;
}

@media screen and (min-width: 1280px) {
  .hero-milk__thumb {
    width: 188px;
    height: 191px;
  }
}

.hero-milk-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 114px;
}

@media screen and (min-width: 1280px) {
  .hero-milk-bio {
    width: 200px;
  }
}

.hero-milk__text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 15px;
}

@media screen and (min-width: 1280px) {
  .hero-milk__text {
    font-size: 14px;
    line-height: 1.4285;
    margin-bottom: 30px;
  }
}

.hero-milk__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.hero-milk__link:hover, .hero-milk__link:focus {
  outline: none;
  border: 2px solid #d41443;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1280px) {
  .hero-milk__link {
    width: 26px;
    height: 26px;
  }
}

.right-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 34px;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .right-side {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .right-side {
    right: 109px;
  }
}

.right-side__cafes {
  position: relative;
  width: 43px;
  height: 44px;
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .right-side__cafes {
    width: 72px;
    height: 77px;
    margin-bottom: 15px;
  }
}

.right-side__bg {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1280px) {
  .right-side__bg {
    width: 30px;
    height: 30px;
  }
}

.right-side__number--cafes {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.1428;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .right-side__number--cafes {
    font-size: 46px;
    line-height: 1.1521;
  }
}

.right-side__text--cafes {
  position: absolute;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  bottom: 2px;
  left: 12px;
}

@media screen and (min-width: 1280px) {
  .right-side__text--cafes {
    font-size: 14px;
    line-height: 1.2857;
  }
}

.right-side--trucks {
  position: relative;
  width: 51px;
  height: 43px;
  margin-bottom: 72px;
}

@media screen and (min-width: 1280px) {
  .right-side--trucks {
    width: 92px;
    height: 76px;
    margin-bottom: 109px;
  }
}

.right-side__number--trucks {
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.1428;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .right-side__number--trucks {
    font-size: 46px;
    line-height: 1.1521;
    top: 5px;
    left: 16px;
  }
}

.right-side__text--trucks {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .right-side__text--trucks {
    font-size: 14px;
    line-height: 1.2857;
  }
}

.right-side--hot-girl {
  width: 168px;
  height: 133px;
}

@media screen and (min-width: 1280px) {
  .right-side--hot-girl {
    width: 293px;
    height: 232px;
  }
}

.products__subtitle {
  text-transform: uppercase;
  color: #ffa5ba;
  text-align: center;
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.166;
}

@media screen and (min-width: 768px) {
  .products__subtitle {
    font-family: Titan One;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.154;
  }
}

@media screen and (min-width: 1280px) {
  .products__subtitle {
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.133;
  }
}

.products__title {
  margin-bottom: 144px;
  text-transform: uppercase;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.147;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
    font-family: Titan One;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.146;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 259px;
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.138;
  }
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products__item {
  display: flex;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 280px;
  min-height: 485px;
  border-radius: 24px;
}

.products__item:not(:last-child) {
  margin-bottom: 130px;
}

@media screen and (min-width: 768px) {
  .products__item {
    max-width: 220px;
    flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 0;
    padding-left: 11px;
    padding-right: 11px;
  }
  .products__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item {
    max-width: 329px;
    min-height: 0;
    max-height: 525px;
    padding-bottom: 50px;
    flex-basis: calc(100% / 3 - 27px);
    padding-left: 44px;
    padding-right: 44px;
  }
  .products__item:not(:last-child) {
    margin-right: 27px;
  }
}

.products__item.icecream {
  position: relative;
  background-color: #ffb8ca;
}

.products__item.icecream::before {
  content: url(../images/products_1-mobile.png);
  position: absolute;
  margin: 0;
  top: -113px;
  left: 15px;
  max-width: 249px;
  max-height: 252px;
}

@media screen and (min-width: 768px) {
  .products__item.icecream::before {
    top: -104px;
    left: 0;
    max-width: 220px;
    max-height: 226px;
    content: url(../images/products_1-tablet.png);
  }
}

@media screen and (min-width: 1280px) {
  .products__item.icecream::before {
    top: -210px;
    left: -3px;
    max-width: 335px;
    max-height: 335px;
    content: url(../images/products_1-desktop.png);
  }
}

.products__item.coffee {
  position: relative;
  background-color: #f0d1a5;
}

.products__item.coffee::before {
  content: url(../images/products_2-mobile.png);
  position: absolute;
  top: -113px;
  left: 15px;
  max-width: 249px;
  max-height: 252px;
}

@media screen and (min-width: 768px) {
  .products__item.coffee::before {
    top: -104px;
    left: 0;
    max-width: 220px;
    max-height: 226px;
    content: url(../images/products_2-tablet.png);
  }
}

@media screen and (min-width: 1280px) {
  .products__item.coffee::before {
    top: -210px;
    left: -3px;
    max-width: 335px;
    max-height: 335px;
    content: url(../images/products_2-desktop.png);
  }
}

.products__item.milkshakes {
  position: relative;
  background-color: #c2e297;
}

.products__item.milkshakes::before {
  content: url(../images/products_3-mobile.png);
  position: absolute;
  top: -113px;
  left: 15px;
  max-width: 249px;
  max-height: 252px;
}

@media screen and (min-width: 768px) {
  .products__item.milkshakes::before {
    top: -104px;
    left: 0;
    max-width: 220px;
    max-height: 226px;
    content: url(../images/products_3-tablet.png);
  }
}

@media screen and (min-width: 1280px) {
  .products__item.milkshakes::before {
    top: -210px;
    left: -3px;
    max-width: 335px;
    max-height: 335px;
    content: url(../images/products_3-desktop.png);
  }
}

.products__name {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 161px;
  margin-bottom: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products__name {
    padding-top: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .products__name {
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.133;
    letter-spacing: 0.04em;
    padding-top: 163px;
    margin-bottom: 70px;
  }
}

.products__name::after {
  content: '. . .';
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  top: 214px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products__name::after {
    top: 205px;
  }
}

@media screen and (min-width: 1280px) {
  .products__name::after {
    top: 229px;
  }
}

.products__text {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products__text {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__text {
    padding-bottom: 62px;
  }
}

.products__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-image: url(../images/products_arrow.png);
  background-size: 40px 40px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__btn {
    background-size: 40px 40px;
    background-image: url(../images/products_arrow@2x.png);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .products__btn {
    background-size: 40px 40px;
    background-image: url(../images/products_arrow@3x.png);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.made {
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  background: #fff5f6;
}

@media (max-width: 479px) {
  .made {
    background-image: url(../images/bg_milk-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 0px bottom 40px;
  }
}

@media (min-width: 768px) {
  .made {
    padding-top: 85px;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .made {
    padding-top: 125px;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .made {
    display: flex;
    background-image: url(../images/bg_milk-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.made__tradition {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .made__tradition {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media (min-width: 1280px) {
  .made__tradition {
    font-size: 30px;
    line-height: 1.13;
  }
}

.made__text {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .made__text {
    width: 100%;
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .made__text {
    width: 534px;
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 55px;
  }
}

.made__img {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 280px;
  height: 279px;
}

@media (min-width: 768px) {
  .made__img {
    width: 340px;
    height: 339px;
  }
}

@media (min-width: 1280px) {
  .made__img {
    width: 516px;
    height: 516px;
  }
}

.made__box {
  position: relative;
  display: block;
}

@media (max-width: 767px) {
  .made__box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .made__box {
    margin-left: 17px;
    padding-top: 50px;
  }
}

@media (min-width: 1280px) {
  .made__box {
    margin-left: 74px;
    margin-bottom: 0px;
    padding-top: 50px;
  }
}

.made__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-bottom: 47px;
}

@media (min-width: 768px) {
  .made__title {
    font-size: 14px;
    line-height: 176%;
    margin-bottom: 47px;
    padding-right: 2px;
  }
}

@media (min-width: 1280px) {
  .made__title {
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 35px;
    letter-spacing: 0.04em;
  }
}

.made__list {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .made__list {
    font-size: 14px;
    line-height: 176%;
    padding-right: 2px;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }
}

@media (min-width: 1280px) {
  .made__list {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) {
  .made__love {
    display: flex;
  }
}

.made__cow {
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .made__cow {
    margin-bottom: 0px;
  }
}

.made__button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  width: 176px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.made__button:hover, .made__button:focus {
  background-color: #ffffff;
}

.made__icon {
  display: block;
  width: 5px;
  height: 17px;
  fill: #d41443;
  margin-left: 14px;
}

.made__more {
  margin-right: 14px;
}

.made__vektor {
  display: block;
  color: #d41443;
  width: 5px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}

.advantages__item {
  display: block;
  width: 230px;
}

.advantages__item--first::before {
  content: url(../images/advantages_icon_1.png);
  display: block;
  margin-bottom: 20px;
}

.advantages__item--second::before {
  content: url(../images/advantages_icon_2.png);
  display: block;
  margin-bottom: 20px;
}

.advantages__item--third::before {
  content: url(../images/advantages_icon_3.png);
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(100% - (6 * 30px) / 3);
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.advantages__number {
  font-family: Titan One;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.139;
  letter-spacing: 0.04em;
  color: #d41443;
}

.advantages__number:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .advantages__number {
    font-family: Titan One;
    font-size: 48px;
    font-weight: normal;
    line-height: 1.146;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    font-family: Titan One;
    font-size: 58px;
    font-weight: normal;
    line-height: 1.138;
    letter-spacing: 0.04em;
  }
}

.advantages__text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.714;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}

.gallery {
  background: linear-gradient(#fff5f6 50%, tomato);
  background: linear-gradient(#fff5f6 25% 50%, #ffffff 50% 100%);
}

@media (max-width: 767px) {
  .gallery {
    background: linear-gradient(#fff5f6 25% 60%, #ffffff 60% 100%);
  }
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

/* Элемент сетки */
.element-item {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.thumb-gride.thumb-gride__four.thumb-gride__huge {
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.thumb-gride {
  display: inline-block;
}

.elements-gride {
  display: grid;
  grid-template: repeat(24, 1vw)/repeat(60, 1vw);
  grid-gap: 5px;
  grid-template: inherit;
}

.thumb-gride__one {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 14;
}

.thumb-gride__two {
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 5;
  grid-row-end: 12;
}

.thumb-gride__three {
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 12;
  grid-row-end: 19;
}

.thumb-gride__four {
  grid-column-start: 16;
  grid-column-end: 30;
  grid-row-start: 1;
  grid-row-end: 15;
}

.thumb-gride__five {
  grid-column-start: 16;
  grid-column-end: 23;
  grid-row-start: 15;
  grid-row-end: 22;
}

.thumb-gride__six {
  grid-column-start: 30;
  grid-column-end: 37;
  grid-row-start: 6;
  grid-row-end: 13;
}

.thumb-gride__seven {
  grid-column-start: 30;
  grid-column-end: 37;
  grid-row-start: 13;
  grid-row-end: 20;
}

.thumb-gride__eight {
  grid-column-start: 37;
  grid-column-end: 44;
  grid-row-start: 4;
  grid-row-end: 11;
}

.thumb-gride__nine {
  grid-column-start: 37;
  grid-column-end: 44;
  grid-row-start: 11;
  grid-row-end: 18;
}

.thumb-gride__ten {
  grid-column-start: 44;
  grid-column-end: 51;
  grid-row-start: 8;
  grid-row-end: 15;
}

.thumb-gride .element-item:hover {
  transform: scale3d(1.5, 1.2, 0.3);
}

.slider__item {
  text-align: center;
  text-align: -webkit-center;
}

.slider__img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.slider__comment {
  position: relative;
  max-width: 480px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  color: #000000;
  background-color: #fafafa;
  padding: 42px 50px 27px;
  margin-bottom: 29px;
}

@media screen and (min-width: 480px) {
  .slider__comment {
    max-width: 620px;
    width: 100%;
    padding: 30px 38px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .slider__comment {
    max-width: 926px;
    width: 100%;
    padding: 32px 54px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    letter-spacing: 0.04em;
  }
}

.slider__text {
  background: repeating-linear-gradient(#fafafa -5px, #fafafa 23px, #e1e1e1 25px, #e1e1e1 25px);
}

.slider__ico-bg {
  position: absolute;
  top: 15px;
  left: 10px;
  fill: #e1e1e1;
}

@media screen and (min-width: 480px) {
  .slider__ico-bg {
    top: 5px;
    left: 3px;
  }
}

@media screen and (min-width: 1280px) {
  .slider__ico-bg {
    top: 10px;
    left: 20px;
  }
}

.slider__points {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.slider__ico-point {
  fill: #c7133e;
}

.slider__ico-point:not(:last-child) {
  margin-right: 10px;
}

.slider__name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  color: #000000;
  padding-bottom: 30px;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li.slick-active {
  background: url("../images/customer-home-ico.svg") center 10px no-repeat;
}

.slick-dots li.slick-active button {
  background-color: transparent;
}

.socials {
  display: flex;
  justify-content: flex-end;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #d41443;
}

.socials__icon {
  fill: #ffffff;
}

.footer {
  position: relative;
  margin: 0 auto;
  padding-top: 110px;
  background: #fff5f6;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer::after {
    height: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .footer::after {
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__lable-title {
  width: 230px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .footer__lable-title {
    width: 340px;
    font-family: Titan One;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .footer__lable-title {
    width: 100%;
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
  }
}

.footer__title {
  margin-top: 20px;
  width: 230px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer__title {
    width: 340px;
    font-family: Titan One;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    width: auto;
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
  }
}

.footer__socials {
  margin-top: 45px;
}

.footer__contact {
  margin-top: 45px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: right;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contact {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.footer__tel {
  color: #d41443;
}

.footer__reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 90px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 0;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: #907e82;
}

@media screen and (min-width: 480px) {
  .footer__reserved {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__reserved {
    width: 100%;
    height: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__reserved {
    height: 45px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #ffb8ca;
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 319px) {
  .modal {
    min-width: 300px;
    padding: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .modal {
    min-width: 320px;
    padding: 20px;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .modal {
    width: 530px;
  }
}

@media screen and (min-width: 960px) {
  .modal {
    width: 600px;
  }
}

.backdrop.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin-bottom: 12px;
  color: #d41443;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-align: center;
}

.form__question {
  padding-bottom: 4px;
  display: block;
  color: #d41443;
  font-family: Titan One;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 767px) {
  .buy-form__label.start-form__comment {
    margin-bottom: 20px;
  }
}

.form__comment {
  margin-bottom: 20;
}

.form__form-input {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__form-field {
  padding: 11px 11px 11px 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e18298;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__form-field:hover, .form__form-field:focus, .form__form-field:active {
  border-color: #d41443;
  cursor: pointer;
}

.form__form-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: #fea5bb;
}

.form__form-field:hover ~ .form__form-icon,
.form__form-field:focus ~ .form__form-icon {
  fill: #d41443;
}

.form__textarea-form {
  padding: 12px 16px 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #e18298;
}

.form__textarea-form:hover, .form__textarea-form:focus, .form__textarea-form:active {
  border-color: #d41443;
  cursor: pointer;
}

.form__textarea-form::placeholder {
  color: #fea5bb;
}

.form__textarea-form:placeholder-shown {
  font-family: Titan One;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__rules {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: #d41443;
  font-family: Titan One;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media (min-width: 1280px) {
  .form__rules {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon-check {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #d41443;
  border-radius: 2px;
}

.form__checkbox:checked ~ .form__icon-check {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.form__link {
  display: block;
  color: #ffffff;
  margin-left: 4px;
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.button-modal-close:hover, .button-modal-close:focus {
  background-color: #d41443;
}

.button-modal-close__icon {
  width: 11px;
  height: 11px;
  stroke: #d41443;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover .button-modal-close__icon,
.button-modal-close:focus .button-modal-close__icon {
  stroke: #ffffff;
}

.form-button {
  min-width: 150px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  background-color: #ffffff;
  color: #d41443;
  padding-left: 37px;
  padding-right: 37px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-button:focus, .form-button:hover {
  color: #ffffff;
  background-color: #d41443;
}

.franchise-benefits {
  width: 100%;
  margin: 0 auto 10px auto;
}

@media (max-width: 767px) {
  .franchise-benefits {
    display: none;
  }
}

.franchise-benefits__title {
  font-size: 20px;
}

.franchise-benefits ~ p {
  font-size: 16px;
}

.franchise-benefits__item {
  font-size: 14px;
}

@media screen and (max-width: 449px) {
  .form__map-mobil-second {
    display: none;
  }
  .form__map-tablet {
    display: none;
  }
  .form__map-desktop {
    display: none;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .form__map-mobil-first {
    display: none;
  }
  .form__map-tablet {
    display: none;
  }
  .form__map-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .form__map-mobil-first {
    display: none;
  }
  .form__map-mobil-second {
    display: none;
  }
  .form__map-desktop {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .form__map-mobil-first {
    display: none;
  }
  .form__map-mobil-second {
    display: none;
  }
  .form__map-tablet {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */