/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import 'base/null';
@import 'utils/colors';
@import 'utils/mixin';
@import 'utils/placeholders';
@import 'components/btn';
@import 'components/section';
@import 'components/container';
@import 'components/header';
@import 'components/contacts';
@import 'components/hero';
@import 'components/products';
@import 'components/made';
@import 'components/advantages';
@import 'components/gallery';
@import 'components/slider';
@import 'components/socials';
@import 'components/footer';
@import 'components/modal';
@import 'components/scrolling-up';
