<section class="section contacts">
  <div class="container contacts__position">
    <h2 class="visually-hidden"></h2>
 
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-category">CAFE</p>
        <div class="contacts-list__item--box">
          <h3 class="contacts-title">Chicago</h3>
          <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        </li>
      <li class="contacts-list__item">
        <ul class="contacts-worktime">
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Monday - Friday</h3>
            <p class="contacts-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Saturday - Sunday</h3>
            <p class="contacts-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <ul>
          <li><a href="tel:+610383766284" class="contacts-tel">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-category contacts-category__accent">FOODTRUCK</p>
        <div class="contacts-list__item--box">
          <h3 class="contacts-title">Los Angeles</h3>
          <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        </li>
      <li class="contacts-list__item">
        <ul class="contacts-worktime">
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Monday - Friday</h3>
            <p class="contacts-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Saturday - Sunday</h3>
            <p class="contacts-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <ul>
          <li><a href="tel:+610383766284" class="contacts-tel">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-category">CAFE</p>
        <div class="contacts-list__item--box">
          <h3 class="contacts-title">New York</h3>
          <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        </li>
      <li class="contacts-list__item">
        <ul class="contacts-worktime">
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Monday - Friday</h3>
            <p class="contacts-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-worktime__schedule">
            <h3 class="contacts-workdays">Saturday - Sunday</h3>
            <p class="contacts-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <ul>
          <li><a href="tel:+610383766284" class="contacts-tel">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts-mail">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
