<section class="section section--contacts" id="contacts">
  <div class="container contacts">
    <img src="../src/images/contacts_bg.png" alt="капли" class="contacts__img"
      srcset="../src/images/contacts_bg.png 1x,
      ../src/images/contacts_bg@2x.png 2x,
      ../src/images/contacts_bg@3x.png 3x"
    >
    <h2 class="section__title section__title--visually-hidden">Contacts</h2>
    <ul class="contact-list">
      <li class="contacts-list__item">
        <p class="contacts-item__category">CAFE</p>
        <div class="contacts-item">
          <div class="contacts-item__about">
            <h3 class="contacts-item__about--title">Chicago</h3>
            <p class="contacts-item__about--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__worktime">
            <li class="contacts-item__worktime--schedule">
              <h3 class="contacts-item__worktime--workdays">Monday - Friday</h3>
              <p class="contacts-item__worktime--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-worktime__schedule">
              <h3 class="contacts-item__worktime--workdays">Saturday - Sunday</h3>
              <p class="contacts-item__worktime--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__links">
            <li><a href="tel:+610383766284" class="contacts-item__links--tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-item__links--mail">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-item__category contacts-item__category--accent">FOODTRUCK</p>
        <div class="contacts-item">
          <div class="contacts-item__about">
            <h3 class="contacts-item__about--title">Los Angeles</h3>
            <p class="contacts-item__about--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__worktime">
            <li class="contacts-item__worktime--schedule">
              <h3 class="contacts-item__worktime--workdays">Monday - Friday</h3>
              <p class="contacts-item__worktime--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-worktime__schedule">
              <h3 class="contacts-item__worktime--workdays">Saturday - Sunday</h3>
              <p class="contacts-item__worktime--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__links">
            <li><a href="tel:+610383766284" class="contacts-item__links--tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-item__links--mail">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-item__category">CAFE</p>
        <div class="contacts-item">
          <div class="contacts-item__about">
            <h3 class="contacts-item__about--title">Chicago</h3>
            <p class="contacts-item__about--description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__worktime">
            <li class="contacts-item__worktime--schedule">
              <h3 class="contacts-item__worktime--workdays">Monday - Friday</h3>
              <p class="contacts-item__worktime--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-worktime__schedule">
              <h3 class="contacts-item__worktime--workdays">Saturday - Sunday</h3>
              <p class="contacts-item__worktime--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-item">
          <ul class="contacts-item__links">
            <li><a href="tel:+610383766284" class="contacts-item__links--tel">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com" class="contacts-item__links--mail">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contbutton-list">
      <li class="contbutton-item">
        <button type="button" class="btn btn--accent" data-modallocation-open>Our Locations
          <svg class="btn__icon" width="8" height="8">
            <use href="images/icons.svg#bracket"></use>
          </svg>
          <svg class="btn__icecream" width="32" height="32">
            <use href="images/icons.svg#icecream"></use>
          </svg>
        </button>
    </li>
      <li class="contbutton-item">
        <button type="button" class="btn" data-modalfranchise-open>Franchise
          <svg class="btn__icon" width="8" height="8">
            <use href="images/icons.svg#bracket"></use>
          </svg>
          <svg class="btn__icecream" width="32" height="32">
            <use href="images/icons.svg#icecream"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

