<section>
    <div class="container" >
        <div id="container" class="js-masonry"
  data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item" }'>
<img class="item hidden first" src="../src/images/grid1.png" alt="">
<img class="item hidden second" src="../src/images/grid1.png" alt="">
<img class="item w2" src="../src/images/grid4.png" alt="">
<img class="item hidden third" src="../src/images/grid1.png" alt="">
<img class="item hidden seventh" src="../src/images/grid1.png" alt="">
<img class="item" src="../src/images/grid1.png" alt="">
<img class="item hidden forth" src="../src/images/grid1.png" alt="">  


                <img class="item" src="../src/images/grid2.png" alt="">
               
                <img class="item" src="../src/images/grid3.png" alt="">
                
                <img class="item" src="../src/images/grid5.png" alt="">
                
            
               
                <img class="item" src="../src/images/grid6.png" alt="">   
               
                <img class="item" src="../src/images/grid7.png" alt="">
                
                
                <img class="item" src="../src/images/grid8.png" alt="">
            
                <img class="item" src="../src/images/grid9.png" alt="">
                
            <img class="item hidden ninth" src="../src/images/grid1.png" alt="">
                <img class="item hidden eighth" src="../src/images/grid1.png" alt="">
                <!-- <img class="item hidden twelve" src="../src/images/grid1.png" alt=""> -->
                <img class="item" src="../src/images/grid10.png" alt="">
                <img class="item hidden eleven" src="../src/images/grid1.png" alt="">
                
                
        </div>
    </div>
</section>
