<section>
    <div class="container">
        <div class="elements-gride">
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid1.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid2.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid3.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid4.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid5.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid6.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid7.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="./images/grid8.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid9.png" alt="">
            </div>
            <div class="thumb-gride">
                <img class="element-item" src="../src/images/grid10.png" alt="">
            </div>
        </div>
    </div>
</section>
