<section class="section gallery">
    <h2 class="section__title section__title--visually-hidden">Gallery</h2>
    <div class="container">
        <div class="elements-gride" >
            <div class="thumb-gride thumb-gride__one">
                <img class="element-item" src="/images/grid1.png" alt="Стаканы на шпажках">
            </div>
            <div class="thumb-gride thumb-gride__two">
                <img class="element-item" src="/images/grid2.png" alt="Рожок">
            </div>
            <div class="thumb-gride thumb-gride__three ">
                <img class="element-item " src="/images/grid3.png" alt="Эскимо на палочке">
            </div>
            <div class="thumb-gride thumb-gride__four thumb-gride__huge">
                <img class="element-item" src="/images/grid4.png" alt="Много рожков">
            </div>
            <div class="thumb-gride thumb-gride__five">
                <img class="element-item" src="/images/grid5.png" alt="Девушка есть мороженое">
            </div>
            <div class="thumb-gride thumb-gride__six">
                <img class="element-item" src="/images/grid6.png" alt="Украшают мороженое ягодами">
            </div>
            <div class="thumb-gride thumb-gride__seven">
                <img class="element-item" src="/images/grid7.png" alt="Рожок на фоне города">
            </div>
            <div class="thumb-gride thumb-gride__eight">
                <img class="element-item" src="/images/grid8.png" alt="Собака ест мороженое">
            </div>
            <div class="thumb-gride thumb-gride__nine">
                <img class="element-item" src="/images/grid9.png" alt="Кофейный молочный коктейль">
            </div>
            <div class="thumb-gride thumb-gride__ten">
                <img class="element-item" src="/images/grid10.png" alt="Мороженое в банке">
            </div>
        </div>
    </div>
</section>
