<header class="page-header">
    <div class="conteiner">
        <a href="../index.html" class="logo">
            <svg width="190" height="50"><use href="./images/icons.svg#logo"></use></svg>
        </a>
        <button type="submit" class="btn__header"></button>

        <div class="menu-container">
            <button class="menu-toggle"></button>
            <button>By now</button>
            <ul class="nav-menu">
                <li class="nav-menu__list"></li>
                <li class="nav-menu__list"></li>
                <li class="nav-menu__list"></li>
                <li class="nav-menu__list"></li>
                <li class="nav-menu__list"></li>
            </ul>
        </div>
    </div>
</header>