<!-- Секция герой -->
<section class="hero">
  <div class="container-hero">
    <div class="hero-ice__thumb">
      <picture>
        <!-- <source
          srcset="
            ./images/hero_ice_cream-mobile.webp   767w,
            ./images/hero_ice_cream-tablet.webp  1279w,
            ./images/hero_ice_cream-desktop.webp 1280w
          "
          type="image/webp"
        /> -->

        <img
          srcset="
            ./images/hero_ice_cream-mobile.png    1x,
            ./images/hero_ice_cream-mobile@2x.png 2x,
            ./images/hero_ice_cream-mobile@3x.png 3x
          "
          src="./images/hero_ice_cream-mobile.png"
          alt="ice"
          sizes="(min-width: 1280px) 25vw, (min-width: 320px) 60vw, 100vw"
        />
      </picture>
    </div>

    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__list">
        <li class="hero__item">
          <a href="#" class="hero__link--products">Products</a>
        </li>

        <li class="hero__item">
          <a href="#" class="hero__link--made">How it’s made?</a>
        </li>
      </ul>
    </div>

    <div class="hero-milk">
      <div class="hero-milk__thumb">
        <img src="./images/hero_milk-tablet.png" alt="milk" />
      </div>
      <div class="hero-milk-bio">
        <p class="hero-milk__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="#" class="hero-milk__link">
          <img src="./images/hero_arrow-tablet.png" alt="arrow right" />
        </a>
      </div>
    </div>

    <div class="right-side">
      <div class="right-side--cafes">
        <img src="./images/hero_cafes-tablet.png" alt="number of cafes" />
      </div>

      <div class="right-side--trucks">
        <img src="./images/hero_trucks-tablet.png" alt="number of trucks" />
      </div>

      <div class="right-side--hot-girl">
        <img src="./images/hero_girl-tablet.png" alt="hot girl" />
      </div>
    </div>
  </div>
</section>
