<!-- Секция герой -->
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with
        <span class="hero-title--accent">passion</span>
      </h1>
      <ul class="hero-list">
        <li class="hero-item">
          <a href="#" class="hero-link">Products</a>
        </li>

        <li class="hero-item">
          <a href="#" class="hero-link">How it’s made?</a>
        </li>
      </ul>
    </div>
  </div>
</section>
