<!-- Секция герой -->
<section class="hero">
  <div class="container-hero">
    <div class="hero-ice__thumb">
      <img
        srcset="
          ./images/hero_ice_cream-desktop.png    1x,
          ./images/hero_ice_cream-desktop@2x.png 2x,
          ./images/hero_ice_cream-desktop@3x.png 3x
        "
        src="./images/hero_ice_cream-desktop.png"
        alt="ice"
      />
    </div>

    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__list">
        <li class="hero__item">
          <a href="#products" class="hero__link--products">Products</a>
        </li>

        <li class="hero__item">
          <a href="#made" class="hero__link--made">How it’s made?</a>
        </li>
      </ul>
    </div>

    <div class="hero-milk">
      <div class="hero-milk__thumb">
        <img
          srcset="
            ./images/hero_milk-desktop.png    1x,
            ./images/hero_milk-desktop@2x.png 2x,
            ./images/hero_milk-desktop@3x.png 3x
          "
          src="./images/hero_milk-desktop.png"
          alt="milk"
        />
      </div>
      <div class="hero-milk-bio">
        <p class="hero-milk__text">
          If you want to witness how miracles work, how ice cream is created. Sign up for a master
          class at the link below.
        </p>
        <a href="#made" class="hero-milk__link">
          <img src="./images/hero_arrow-right.svg" alt="arrow-right" class="hero-milk__svg" />
        </a>
      </div>
    </div>

    <div class="right-side">
      <div class="right-side__cafes">
        <img src="./images/hero-number_bg.svg" alt="circle" class="right-side__bg" />
        <p class="right-side__number--cafes">16</p>
        <p class="right-side__text--cafes">cafes</p>
      </div>

      <div class="right-side--trucks">
        <img src="./images/hero-number_bg.svg" alt="circle" class="right-side__bg" />
        <p class="right-side__number--trucks">23</p>
        <p class="right-side__text--trucks">food trucks</p>
      </div>

      <div class="right-side--hot-girl">
        <img
          srcset="
            ./images/hero_girl-desktop.png    1x,
            ./images/hero_girl-desktop@2x.png 2x,
            ./images/hero_girl-desktop@3x.png 3x
          "
          src="./images/hero_girl-desktop.png"
          alt="hot girl"
        />
      </div>
    </div>
  </div>
</section>
