<div class="backdrop backdrop--is-hidden" data-modal data-modalmob>
    <div class="modal">
        <button type="button"  class="button-modal-close" data-modal-close>
            <svg class="button-modal-close__icon">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <form name="client-information" class="form">
            <p class="form__title">Leave your details, we will call you back</p>
            <label class="form__label">
                <span class="form__question">Full name (First and Last name)</span>
                <span class="form__form-input">
                    <input type="text" name="client-name" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#person"></use>
                    </svg>
                </span>

            </label>


            <label class="form__label">
                <span class="form__question">Phone number</span>
                <span class="form__form-input">
                    <input type="tel" name="client-tel" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#phone"></use>
                    </svg>
                </span>
            </label>


            <label class="form__label">
                <span class="form__question">Email</span>
                <span class="form__form-input">
                    <input type="email" name="client-email" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#email"></use>
                    </svg>
                </span>
            </label>


            <label class="form__label form__comment">
                <span class="form__question">Comments</span>

                <textarea name="comment" cols="30" rows="5" placeholder="Enter text"
                    class="form__textarea-form"></textarea>
            </label>
            <div class="form__rules">
                <label>
                    <input class="form__checkbox" type="checkbox" name="rules-check">
                    <span class="form__icon-check"></span>
                </label>
                <span>I agree to the newsletter and accept</span>
                <div><a href="" class="form__link">Terms of an agreement</a></div>
            </div>

            <button type="submit" class="form-button btn">
                Send
                <svg class="btn__icecream" width="32" height="32">
                    <use href="images/icons.svg#icecream"></use>
                </svg>
            </button>
        </form>

    </div>
</div>

<div class="backdrop backdrop--is-hidden" data-modalread>
    <div class="modal modal__read">
        <button type="button" class="button-modal-close" data-modalread-close>
            <svg class="button-modal-close__icon">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <form name="client-information" class="form">
            <p class="form__title">Send us your e-mail to which we will send detailed information about the production
                of the most delicious ice cream in
                the world</p>
            <label class="form__label">
                <span class="form__question">Name</span>
                <span class="form__form-input">
                    <input type="text" name="client-name" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#person"></use>
                    </svg>
                </span>

            </label>

            <label class="form__label">
                <span class="form__question">Email</span>
                <span class="form__form-input">
                    <input type="email" name="client-email" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#email"></use>
                    </svg>
                </span>
            </label>


            <button type="submit" class="form-button btn">
                Send
                <svg class="btn__icecream" width="32" height="32">
                    <use href="images/icons.svg#icecream"></use>
                </svg>
            </button>
        </form>

    </div>
</div>

<div class="backdrop backdrop--is-hidden" data-modallocation>
    <div class="modal modal__location">
        <button type="button" class="button-modal-close" data-modallocation-close>
            <svg class="button-modal-close__icon">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <form name="client-information" class="form">
            <p class="form__title">OUR LOCATION:</p>
            <div class="form__map-mobil-first">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2452858252204!2d30.742113415466907!3d46.483455279126225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631a2758b14a3%3A0xbc07ed5a4464fac6!2z0YPQuy4g0JTQtdGA0LjQsdCw0YHQvtCy0YHQutCw0Y8sIDMsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1631363206055!5m2!1sru!2sua"
                    width="260" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="form__map-mobil-second">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2452858252204!2d30.742113415466907!3d46.483455279126225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631a2758b14a3%3A0xbc07ed5a4464fac6!2z0YPQuy4g0JTQtdGA0LjQsdCw0YHQvtCy0YHQutCw0Y8sIDMsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1631363206055!5m2!1sru!2sua"
                    width="430" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="form__map-tablet">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2452858252204!2d30.742113415466907!3d46.483455279126225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631a2758b14a3%3A0xbc07ed5a4464fac6!2z0YPQuy4g0JTQtdGA0LjQsdCw0YHQvtCy0YHQutCw0Y8sIDMsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1631363206055!5m2!1sru!2sua"
                    width="510" height="420" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="form__map-desktop">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2452858252204!2d30.742113415466907!3d46.483455279126225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631a2758b14a3%3A0xbc07ed5a4464fac6!2z0YPQuy4g0JTQtdGA0LjQsdCw0YHQvtCy0YHQutCw0Y8sIDMsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1631363206055!5m2!1sru!2sua"
                    width="580" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </form>

    </div>
</div>



<div class="backdrop backdrop--is-hidden" data-modalfranchise>
    <div class="modal">
        <button type="button" class="button-modal-close" data-modalfranchise-close>
            <svg class="button-modal-close__icon">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <form name="client-information" class="form">
            <section class="franchise-benefits">
                <h1 class="franchise-benefits__title form__title">Benefits of working with us</h1>
                <ul class="franchise-benefits__list">
                    <li class="franchise-benefits__item form__question">A small amount of investment - a high level of
                        profitability
                    </li>
                    <li class="franchise-benefits__item form__question">An easily scalable business</li>
                    <li class="franchise-benefits__item form__question">Ability to implement individual solutions for
                        customers</li>
                </ul>
            </section>

            <p class="form__title">Leave your details, we will call you back</p>

            <label class="form__label">
                <span class="form__question">Full name (First and Last name)</span>
                <span class="form__form-input">
                    <input type="text" name="client-name" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#person"></use>
                    </svg>
                </span>

            </label>


            <label class="form__label">
                <span class="form__question">Phone number</span>
                <span class="form__form-input">
                    <input type="tel" name="client-tel" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#phone"></use>
                    </svg>
                </span>
            </label>


            <label class="form__label">
                <span class="form__question">Email</span>
                <span class="form__form-input">
                    <input type="email" name="client-email" class="form__form-field">
                    <svg class="form__form-icon">
                        <use href="./images/icons.svg#email"></use>
                    </svg>
                </span>
            </label>


            <button type="submit" class="form-button btn">
                Send
                <svg class="btn__icecream" width="32" height="32">
                    <use href="images/icons.svg#icecream"></use>
                </svg>
            </button>
        </form>

    </div>
</div>