<section class="products section">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h1 class="products__title">products</h1>
            <ul class="icecream__card">
                <li class="icecream__card--front products__item">
                            <h2 class="products__name">ice cream</h2>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor
                                    incididunt ut labore et. dolore magna
                                    aliqua facilisis.
                            </p>
                        <a href="" class="products__btn"></a>
                </li>     
                <li class="icecream__card--back products__item">
                        <h2 class="products__name">ice cream</h2>
                        <ul>
                            <li class="icecream__exampl">gelato</li>
                            <li class="icecream__exampl">vanila</li>
                            <li class="icecream__exampl">chockolate</li>
                            <li class="icecream__exampl">strawberry</li>
                        </ul>
                </li>
            </ul>
    </div>
</section>