<section class="section section--products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <a href="" class="products__link">
                <li class="products__item icecream bounce">
                    <h3 class="products__name">ice cream</h3>  
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis <span id="dots">...</span> <span id="more">gelato vanilla chockolate</span> </p>
                    <button 
                    type="button" 
                    class="products__btn" 
                    onclick="readMore()">  </button>
                </li>

                <ul class="wrap-icecream__card">
                    <li class="wrap-icecream__front products__item">
                        <h2 class="products__name">ice cream</h2>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__btn icecream"></button>
                    </li>
                    <li class="wrap-icecream__back products__item">
                        <h2 class="products__name">ice cream</h2>
                        <p class="products__discribe"> gellato vanilla chockolate</p>
                    </li>
                </ul>
            </a>
        </ul>
    </div>
</section>
