<section class="products section">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h1 class="products__title">products</h1>
        <div class="card-set">
            <div class="wrap-icecream">
                <div class="wrap-icecream__card">
                    <div class="wrap-icecream__front products__item">
                        <h2 class="products__name">ice cream</h2>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__btn icecream"></button>
                    </div>
                    <div class="wrap-icecream__back products__item">
                        <h2 class="products__name">ice cream</h2>
                    </div>
                </div>
            </div>
            <div class="wrap-coffee">
                <div class="wrap-coffee__card">
                    <div class="wrap-coffee__front products__item">
                        <h2 class="products__name">ice coffee</h2>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__btn"></button>
                    </div>
                    <div class="wrap-coffee__back products__item">
                        <h2 class="products__name">ice coffee</h2>
                    </div>
                </div>
            </div>
            <div class="wrap-milkshakes">
                <div class="wrap-milkshakes__card">
                    <div class="wrap-milkshakes__front products__item">
                        <h2 class="products__name">milkshakes</h2>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__btn">
                        </button>
                    </div>
                    <div class="wrap-milkshakes__back products__item">
                        <h2 class="products__name">milkshakes</h2>
                    </div>
                </div>
            </div>
        </div>
     </div>
        
</section>