<section class="section section--products" id="products">
    <div class="container">
        <p class="section__lable-title">100% natural</p>
        <h2 class="section__title">products</h2>
        <div class="products__list">
            <ul class="icecream__card products__item">
                <li class="icecream__card--front products__style bounce">
                    <h2 class="products__name">ice cream</h2>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="products__btn"></button>
                </li>
                <li class="icecream__card--back products__style bounce">
                    <h2 class="products__name">ice cream</h2>
                    <ul>
                        <li class="icecream__exampl">gelato</li>
                        <li class="icecream__exampl">vanila</li>
                        <li class="icecream__exampl">chocolate</li>
                        <li class="icecream__exampl">strawberry</li>
                    </ul>
                </li>
            </ul>
            <ul class="coffee__card products__item">
                <li class="coffee__card--front products__style bounce">
                    <h2 class="products__name">ice coffee</h2>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>

                    <button class="products__btn"></button>
                </li>
                <li class="coffee__card--back products__style bounce">
                    <h2 class="products__name">ice coffee</h2>
                    <ul>
                        <li class="icecream__exampl">ice latte</li>
                        <li class="icecream__exampl">bumble</li>
                        <li class="icecream__exampl">frapuccino</li>
                        <li class="icecream__exampl">ice americano</li>
                    </ul>
                </li>
            </ul>
            <ul class="milkshakes__card products__item bounce">
                <li class="milkshakes__card--front products__style">
                    <h2 class="products__name">milkshakes</h2>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="products__btn"></button>
                </li>
                <li class="milkshakes__card--back products__style bounce">
                    <h2 class="products__name">milkshakes</h2>
                    <ul>
                        <li class="icecream__exampl">Choco-Moco</li>
                        <li class="icecream__exampl">Berry-Shackt</li>
                        <li class="icecream__exampl">Just Milk</li>
                        <li class="icecream__exampl">Mango Passion fruit</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
