<section class="products section">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h1 class="products__title">products</h1>
        <ul class="products__list">

            <li class="products__item icecream">
              <h2 class="products__name">ice cream</h2>  
              <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button type="button" class="products__btn"></button>
            </li>

            <li class="products__item coffee">
                <h2 class="products__name">ice coffee</h2>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="products__btn"></button>
            </li>

            <li class="products__item milkshakes">
                <h2 class="products__name">milkshakes</h2>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="products__btn">
                </button>
            </li>

        </ul>
    </div>
</section>
