  <section class="customer section">
    <h2 class="section__title section__title--visually-hidden">Customer Reviews</h2>
    <div class="container">
      <div class="slider">
  
        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/customer_1.webp 1x, images/customer_1@2x.webp 2x, images/customer_1@3x.webp 3x" type="image/webp">
            <source srcset=" images/customer_1.jpg 1x, images/customer_1@2x.jpg 2x, images/customer_1@3x.jpg 3x" type="image/jpeg">
            <img class="slider__img" src=" images/customer_1.jpg" alt="Фото 1" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <div class="slider__name">
            Emily, Los Angeles
          </div>
        </article>
        
        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/customer_2.webp 1x, images/customer_2@2x.webp 2x, images/customer_2@3x.webp 3x" type="image/webp">
            <source srcset=" images/customer_2.jpg 1x, images/customer_2@2x.jpg 2x, images/customer_2@3x.jpg 3x">
            <img class="slider__img" src=" images/customer_2.jpg" alt="Фото 1" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <div class="slider__name">
            Emily, Los Angeles
          </div>
        </article>
  
      </div>
    </div>
  </section>
