  <section class="customer section" id="slider">
    <h2 class="section__title section__title--visually-hidden">Customer Reviews</h2>
    <div class="container">
      <div class="slider">
  
        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/oleksii_ostafiichuk.webp 1x, images/command/oleksii_ostafiichuk@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/oleksii_ostafiichuk.jpg 1x, images/command/oleksii_ostafiichuk@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/oleksii_ostafiichuk.jpg" alt="Фото 1" width="85" height="85">
          </picture>

          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Люблю морозиво з шоколадом.  Буду Fullstack Developer. За час написання проекту одружився.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Олексій Остафійчук, м.Чернівці</h4>
        </article>
        
        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/Olga.webp 1x, images/command/Olga@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/Olga.jpg 1x, images/command/Olga@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/Olga.jpg" alt="Ольга Хливненко" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Не люблю мороженое, легко променяю его на cold cup orange). Люблю путешествовать, пить кофе и гулять на море не в сезон. За время проекта ребёнок научился засыпать сам в своей комнате - отличное достижение.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Ольга Хливненко, г.Одесса</h4>

        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/anastasia.webp 1x, images/command/anastasia@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/anastasia.jpg 1x, images/command/anastasia@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/anastasia.jpg" alt="Анастасія Жабоєдова" width="85" height="85">
          </picture>

          <div class="slider__comment">
            <!-- <h4 class="slider__title"> Анастасія Жабоєдова, м.Одеса</h4> -->
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <!-- <h4 class="slider__title"> Анастасія Жабоєдова, м.Одеса</h4> -->
            <p class="slider__text">
              Колись було морозиво Фурор, сумую по ньому) А зараз обираю Стакан Великан від Ласунки. Розробляла секцію Advantages, а також була Scrum Masterом у своїй команді. Найважчим було виступати психологом та тримати себе під контролем коли ти сам розробник і в тебе теж є зацікавленість у коді, але мені сподобалось.  За час проекту дитина вирішила що у мами тепер ніколи не буде вихідних, сподіваюсь це не так)
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Анастасія Жабоєдова, м.Одеса</h4>
        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/viktor_zabiyaka.webp 1x, images/command/viktor_zabiyaka@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/viktor_zabiyaka.jpg 1x, images/command/viktor_zabiyaka@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/viktor_zabiyaka.jpg" alt="Віктор Забіяка" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Обожнюю морозиво, тому ідея проекту дуже сподобалась. Коли синок побачив макет сайту, відразу запропонував замовити такого морозива і багато:) Працював в проекті над header, тай команда почала називати "наш хедер")) Команда чудова, всім дуже вдячний!! Присвячував проекту весь вільний час, що навіть у ві сні почав говорити про padding, margin і куди їх застосовувати:)
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Віктор Забіяка, м.Одеса</h4>

        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/viktor_bondar.webp 1x, images/command/viktor_bondar@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/viktor_bondar.jpg 1x, images/command/viktor_bondar@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/viktor_bondar.jpg" alt="Виктор Бондар" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Любой чистый пломбир придется по вкусу в жаркий день, так как всему свое время. Много лет был финансистом, но сфера IT всегда манила своей загадочностью и возможностями. По этому решил, что обучение сейчас так же в тему, как холодное мороженко в жаркую пору.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Виктор Бондар, г.Одесса</h4>

        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/vladimir_prokopenko.webp 1x, images/command/vladimir_prokopenko@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/vladimir_prokopenko.jpg 1x, images/command/vladimir_prokopenko@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/vladimir_prokopenko.jpg" alt="Владимир Прокопенко" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Жаркое - лето, теплое - море, палящее - солнце, собственная – яхта. Не громко играет классическая музыка. Я загораю на палубе. Возле меня моя семья. В каюте на столике ноутбук. На экране, которого, напечатан программный код. А в руках вкуснейшее, холодное мороженное. Две тысячи двадцать пятый год … Владимир, город Сумы.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Владимир Прокопенко, г.Сумы</h4>
        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/vitalik_dzema.webp 1x, images/command/vitalik_dzema@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/vitalik_dzema.jpg 1x, images/command/vitalik_dzema@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/vitalik_dzema.jpg" alt="Виталик Дзема" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Любимое мороженое:Рожок с Oreo. Работаю digital-marketing manager, тесно связан с IT, хочу стать профессионалом программирования и Full-Stack Developer. Делал секцию Gallery. Сначала попробовал сделать на Mansory Gallery, но ее сложно адаптировать под конкретный экран, поэтому решил освоить для себя новую технологию CSS Grid. Могу сказать, что открыл для себя много нового. Мой кот стал практически верстальщиком, т.к. когда я занимался проектом, он тоже нажимал на клавиши, видимо стараясь помочь мне разобраться с гридами.)
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Виталик Дзема, г.Одесса</h4>
        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/vitalii_varunyk.webp 1x, images/command/vitalii_varunyk@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/vitalii_varunyk.jpg 1x, images/command/vitalii_varunyk@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/vitalii_varunyk.jpg" alt="Віталій Варуник" width="85" height="85">
          </picture>
  
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Улюблене морозиво - пломбір. Вирішив спробувати свої сили в ІТ і зрозумів, що це цікавий і крутий шлях саморозвитку, кінцевий пункт призначення якого - успіх.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Віталій Варуник, м.Хмельницький</h4>

        </article>

        <article class="slider__item">
          <picture class="slider__picture">
            <source srcset=" images/command/piron.webp 1x, images/command/piron@2x.webp 2x" type="image/webp">
            <source srcset=" images/command/piron.jpg 1x, images/command/piron@2x.jpg 2x" type="image/jpeg">
            <img class="slider__img" src="./images/command/piron.jpg" alt="Пирон Женя" width="85" height="85">
          </picture>

          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Люблю пломбир (обычный). Едим с семьей по выходным в жаркие летние дни. Team Lead на проекте. Делал секцию Slider. Проектом очень доволен. Теперь понимаю почему IT-шники всегда задумчивы. Перебирают массив информации) Они кодят в уме:). Отдельное спасибо команде! Все молодци, хоть и по началу шло туго. Мы не сдались и выполнили поставленную цель!
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Пирон Женя, г.Одесса</h4>
        </article>

        <article class="slider__item">
        
          <div class="slider__comment">
            <svg class="slider__ico-bg" width="54" height="40">
              <use href="./images/icons.svg#quotes"></use>
            </svg>
            <p class="slider__text">
              Віталій Бабічев, м. Біла Церква. Улюблене морозиво-хрещатик. Люблю подорожувати на автомобілі. В командному проекті
              здобув багато позитивних емоцій. Пішов на курси IT щоб здобути нові знання . І що цікаво на курсах IT, тут кожного дня
              завжди щось нове.
            </p>
          </div>
          <div class="slider__points">
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
            <svg class="slider__ico-point" width="4" height="4">
              <use href="./images/icons.svg#marker_slider"></use>
            </svg>
          </div>
          <h4 class="slider__name"> Віталій Бабічев, м.Біла Церква</h4>
        </article>
  
      </div>
    </div>
  </section>
