<section class="customer">
  <ul class="slider">
    <li class="slider__item">
      <picture class="slider__picture">

        <source
        srcset="./images/img.webp 1x, images/img@2x.webp 2x images/img@2x.webp 3x"
        type="image/webp"
        />
        <img
          class="slider__img"
          srcset="./images/img.jpg 1x, ./images/img@2.jpg 2x ./images/img@2.jpg 2x"
          src="./img/team/img.jpg"
          alt="Фото Игоря Демьяненко"
          width="270"
          height="260"
        />

      </picture>
    </li>
  </ul>
</section>