.btn {
  position: relative;
  @include flex(null, null, center, center);

  width: 220px;
  height: 44px;

  @include text(DM Sans, 16px, 700, 1.31, null);

  color: getColor('accent');
  background-color: getColor('primary');

  border: 2px solid transparent;
  border-radius: 22px;
  border: transparent;

  cursor: pointer;

  @include transition(color, background-color);

  @media screen and (min-width: 768px) {
    width: auto;
    padding: 0 45px;
  }

  &:hover,
  &:focus {
    color: getColor('accent');
    background-color: getColor('primary--hover');
    outline: none;
  }

  &--accent {
    color: getColor('primary');
    background-color: getColor('accent');

    &:hover,
    &:focus {
      color: getColor('primary');
      background-color: getColor('accent--hover');
    }
  }

  &--hero {
    width: auto;
    height: auto;
    padding: 12px 40px;
    @include text(DM Sans, 14px, 400, 1.29, null);
  }

  &--mobile-menu {
    width: 100%;
  }

  &__icon {
    margin-left: 12px;
    fill: currentColor;
    stroke: currentColor;
  }

  &__icecream {
    position: absolute;
    left: 10px;
    fill: currentColor;
    opacity: 0;

    @include transition(opacity, null);
  }

  &:hover &__icecream,
  &:focus &__icecream {
    opacity: 1;
  }
}
