.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts {
  @include flex(column, null, center, center);
  position: relative;
  background-color: getColor('bg-page');
  width: 100%;
  height: 100%;
  padding-bottom: 54px;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(#fff 84px, #FFF5F6 84px);
  }
  @media screen and (min-width:768px) {
    background-image: linear-gradient(#fff 78px, #FFF5F6 78px);
  }
  &__position {
    @include flex(column, null, center, center);
    @media screen and(min-width:768px) {
      @include flex(row, null, null, null);
    }
  }
  // &::before {
  //   background-image: url(../../../../sectionbg2\ 1.jpg);
  //   scale: fill;
  // }
}
.contacts-list {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 43px 20px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  @media screen and(max-width:1279px) {
    width: 220px;
  }
  @media screen and(min-width:1280px) {
    width: 330px;
  }
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &:not(:last-child) {
    @media screen and(max-width:767px) {
      margin-bottom: 20px;
    }
  }
  
  @include text(DM Sans, 12px, 500, null, null);
  &__item {
    &--box {
      padding-bottom: 25px;
    }
    &:not(:first-child) {
      padding-top: 25px;
      border-top: 1px solid getColor('border');
    }
    &:nth-child(2) {
      padding-bottom: 25px;
    }
  }
}
.contacts-category {
  @include flex(null, null, center, center);
  @include text(null, 12px, null, 1.86, 0.04em);
  width: 80px;
  // height: 16px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  background-color: getColor('bg-prime');
  border-radius: 4px;
  @media screen and(min-width:480px) {
    @include text(null, 16px, null, null, null);
    width: 73px;
  }
  &__accent {
    background-color: getColor('bg-second');
    width: 130px;
    @media screen and(min-width:480px) {
      width: 138px;
    }
  }

}
.contacts-title {
  @include text(null, 12px, bold, 1.86, 0.04em);
  margin-bottom: 10px;
  @media screen and(min-width:480px) {
    @include text(null, 14px, null, null, null);
  }
  @media screen and(min-width:1280px) {
    @include text(null, 16px, null, null, null);
  }
}
.contacts-description {
  @include text(null, 12px, 500, 1.5, null);
  color: getColor('text');
  @media screen and(min-width:480px) {
    @include text(null, 14px, null, 1.66, null);
  }
  @media screen and(min-width:1280px) {
    @include text(null, 16px, null, 1.83, 0.04em);
  }
}
.contacts-worktime {
  &__schedule {
    &:first-child {
      margin-bottom: 10px;
    }
    .contacts-workdays {
      @include text(null, 12px, bold, 1.86, 0.04em);
      @media screen and(min-width:480px) {
        @include text(null, 14px, null, null, null);
      }
      @media screen and(min-width:480px) {
        @include text(null, 16px, null, null, 0.04em);
      }
    }
    .contacts-time {
      color: getColor('secondary');
      line-height: 1.86;
      @media screen and(min-width:480px) {
        @include text(null, 14px, null, null, null);
      }
      @media screen and(min-width:480px) {
        @include text(null, 16px, null, null, null);
      }
    }
  }
}
.contacts-tel,
.contacts-mail {
  text-decoration: none;
  cursor: pointer;
  color: getColor('text');
  line-height: 1.5;
  @media screen and(min-width:480px) {
    @include text(null, 14px, null, 1.83, null);
  }
  @media screen and(min-width:480px) {
    @include text(null, 16px, null, null, null);
  }
  &:hover,
  &:focus {
    color: #d41342;
  }
}