.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  position: relative;
  z-index: 2;
  @include flex(column, null, center, center);
  width: 100%;
  height: 100%;
  &__img {
    display: none;
    position: absolute;
    top: 102px;
    width: 1280px;
    @media screen and(min-width:1280px) {
      display: block;
    }
  }
}
.contact-list {
  @include flex(column, null, null, null);
  margin-bottom: 54px;
  @media screen and(min-width:768px) {
    @include flex(row, null, null, null);
    margin-bottom: 81px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 86px;
  }
}
.contacts-list {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 43px 20px;
    @include text(DM Sans, 12px, 500, null, null);
    background-color: getColor('primary');
    border-radius: 24px;
    box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
    @media screen and(max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media screen and(min-width:768px) {
      @include text(null, 14px, null, null, null);
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @media screen and(min-width:1280px) {
      @include text(null, 16px, null, null, null);
      width: 330px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.contacts-item {
  padding: 25px 0;
  @media screen and(min-width:768px) {
    padding: 30px 0;
  }
  @media screen and(min-width:1280px) {
    padding: 32px 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:not(:last-child) {
    // padding-bottom: 25px;
    border-bottom: 1px solid getColor('border');
  }
  // &:not(:first-child) {
  //   padding-top: 25px;
  // }
  &__category {
    @include flex(null, null, center, center);
    @include text(null, null, null, 1.86, 0.04em);
    width: 80px;
    text-transform: uppercase;
    color: getColor('primary');
    background-color: getColor('bg-prime');
    border-radius: 4px;
    @media screen and (max-width: 767px) {
      height: 16px;
    }
    @media screen and (min-width: 768px) {
      @include text(null, 16px, null, null, null);
    }
    &--accent {
      width: 130px;
      background-color: getColor('bg-second');
      @media screen and (min-width: 768px) {
        width: 138px;
      }
    }
  }
  .contacts-item__about {
    // padding-bottom: 25px;
    &--title {
      @include text(null, null, bold, 1.86, 0.04em);
      margin-bottom: 10px;
    }
    &--description {
      @include text(null, null, 500, 1.5, null);
      color: getColor('text');
      @media screen and(min-width:768px) {
        @include text(null, null, null, 1.66, null);
      }
      @media screen and(min-width:1280px) {
        @include text(null, null, null, 1.83, null);
      }
    }
  }
  .contacts-item__worktime {
    // padding-bottom: 25px;
    &--schedule {
      &:first-child {
        margin-bottom: 10px;
      }
    }
    &--workdays {
      @include text(null, null, bold, 1.86, 0.04em);
    }
    &--time {
      color: getColor('secondary');
      line-height: 1.86;
    }
  }
  .contacts-item__links {
    // padding-top: 25px;
    &--tel,
    &--mail {
      text-decoration: none;
      cursor: pointer;
      color: getColor('text');
      line-height: 1.5;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: getColor('accent');
      }
      @media screen and(min-width:768px) {
        @include text(null, null, null, 1.83, null);
      }
    }
  }
}
.contbutton-list {
  @include flex(column, null, null, null);
  @media screen and(min-width:767px) {
    @include flex(row, null, null, null);
  }
  .contbutton-item {
    @media screen and(max-width:767px) {
      &:first-child {
        margin-bottom: 10px;
      }
    }
    @media screen and(min-width:768px) {
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}
// Вакцына
.contacts-list__item:nth-child(2) {
  padding-bottom: 43px;
}
.contacts-list__item:not(:first-child) {
  padding-top: 43px;
  border-top: none;
}
