
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  @include flex(column, null, center, center);
  background-color: getColor('bg-page');
  width: 100%;
  height: 100%;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(getColor('primary') 84px, getColor('bg-page') 84px);
  }
}
.contacts-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}
.contacts-list {
  &:not(:last-child) {
    margin-bottom: 20px;
  }  
  &__item {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 43px 20px;
    @include text(DM Sans, 12px, 500, null, null);
    background-color: getColor('primary');
    border-radius: 24px;
    box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.contacts-item {
  padding: 25px 0;
  &:last-child {
    padding-bottom: 0;
  }
  &:not(:last-child) {
    // padding-bottom: 25px;
    border-bottom: 1px solid getColor('border');
  }
  // &:not(:first-child) {
  //   padding-top: 25px;
  // }
  &__category {
    @include flex(null, null, center, center);
    @include text(null, null, 500, 1.86, 0.04em);
    width: 80px;
    text-transform: uppercase;
    color: getColor('primary');
    background-color: getColor('bg-prime');
    border-radius: 4px;
    @media screen and (max-width: 767px) {
      height: 16px;
    }
    &--accent {
      width: 130px;
      background-color: getColor('bg-second');
    }
  }
  .contacts-item__about {
    // padding-bottom: 25px;
    &--title {
      @include text(null, 12px, bold, 1.86, 0.04em);
      margin-bottom: 10px;
    }
    &--description {
      @include text(null, 12px, 500, 1.5, null);
      color: getColor('text');
    }
  }
  .contacts-item__worktime {
    // padding-bottom: 25px;
    &--schedule {
      &:first-child {
        margin-bottom: 10px;
      }
    }
    &--workdays {
      @include text(null, 12px, bold, 1.86, 0.04em);
    }
    &--time {
        color: getColor('secondary');
        line-height: 1.86;
    }
  }
  .contacts-item__links {
    // padding-top: 25px;
    &--tel,
    &--mail {
      text-decoration: none;
      cursor: pointer;
      color: getColor('text');
      line-height: 1.5;
      &:hover,
      &:focus {
        color: getColor('accent')
      }
    }
  }
}
.contbutton-list {
  @include flex(column, null, null, null);
  .contbutton-item {
    position: relative;
  }
  .btn {
    border: none;
    padding: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3125;
    // color: #d41443;
    // background: #ffffff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    width: 176px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
      margin-right: 14px;
    }
    &__vektor {
      display: block;
      color: getColor('accent');
      width: 5px;
      height: 18px;
      &--accent {
        color: getColor('primary');
      }
    }
    &:hover,
    &:focus {
      background-color: #ECEBEB;
      color: getColor('accent');
    }
    &--accent {
      margin-bottom: 10px;
      &:hover,
      &:focus {
        background-color: getColor('accent--hover');
        color: getColor('primary');
      }
    }
  }
}
