.footer {
  position: relative;

  margin: 0 auto;
  padding-top: 50px;

  background: getColor('bg-page');

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 70px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 90px;
    border-top: 1px solid getColor('border');

    @media screen and (min-width: 768px) {
      height: 75px;
    }

    @media screen and (min-width: 1280px) {
      height: 45px;
    }
  }

  &__content {
    @media screen and (min-width: 768px) {
      @include flex(null, null, space-between, baseline);
    }
  }

  &__lable-title {
    width: 230px;

    @include text(Titan One, 18px, 400, 1.17, null);

    text-transform: uppercase;

    color: getColor('secondary');

    @media screen and (min-width: 768px) {
      width: 340px;
      @include text(Titan One, 26px, 400, 1.15, null);
    }

    @media screen and (min-width: 1280px) {
      width: 100%;
      @include text(Titan One, 30px, 400, 1.13, null);
    }
  }

  &__title {
    margin-top: 20px;

    width: 230px;

    @include text(Titan One, 34px, 400, 1.15, 00.04em);

    text-transform: uppercase;

    color: getColor('accent');

    @media screen and (min-width: 768px) {
      width: 340px;
      @include text(Titan One, 48px, 400, 1.15, null);
    }

    @media screen and (min-width: 1280px) {
      width: auto;
      @include text(Titan One, 58px, 400, 1.14, null);
    }
  }

  &__socials {
    margin-top: 45px;
  }

  &__contact {
    margin-top: 45px;

    @include text(DM Sans, 12px, 700, 1.86, 00.04em);

    text-align: right;

    color: getColor('paragraph');

    @media screen and (min-width: 768px) {
      @include text(DM Sans, 14px, 700, 1.86, 00.04em);
    }

    @media screen and (min-width: 1280px) {
      @include text(DM Sans, 16px, 700, 1.86, 00.04em);
    }
  }

  &__tel {
    color: getColor('accent');
  }

  &__reserved {
    @include flex(null, null, center, center);
    width: 150px;
    height: 90px;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;

    padding: 25px 0;

    @include text(DM Sans, 14px, 700, 1.52, 00.04em);

    color: getColor('text');

    @media screen and (min-width: 480px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      height: 75px;
    }

    @media screen and (min-width: 1280px) {
      height: 45px;
    }
  }
}
