.gallery {
  background: linear-gradient(getColor('bg-page') 40%, #ffffff 40%);
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
/* Элемент сетки */
.element-item {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}
.thumb-gride.thumb-gride__four.thumb-gride__huge {
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}
.thumb-gride {
  display: inline-block;
}

.elements-gride {
  display: grid;
  grid-template: repeat(24, 1vw) / repeat(60, 1vw);
  grid-gap: 5px;
  grid-template: inherit;
}

.thumb-gride__one {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 14;
}
.thumb-gride__two {
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 5;
  grid-row-end: 12;
}
.thumb-gride__three {
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 12;
  grid-row-end: 19;
}
.thumb-gride__four {
  grid-column-start: 16;
  grid-column-end: 30;
  grid-row-start: 1;
  grid-row-end: 15;
}

.thumb-gride__five {
  grid-column-start: 16;
  grid-column-end: 23;
  grid-row-start: 15;
  grid-row-end: 22;
}

.thumb-gride__six {
  grid-column-start: 30;
  grid-column-end: 37;
  grid-row-start: 6;
  grid-row-end: 13;
}

.thumb-gride__seven {
  grid-column-start: 30;
  grid-column-end: 37;
  grid-row-start: 13;
  grid-row-end: 20;
}

.thumb-gride__eight {
  grid-column-start: 37;
  grid-column-end: 44;
  grid-row-start: 4;
  grid-row-end: 11;
}

.thumb-gride__nine {
  grid-column-start: 37;
  grid-column-end: 44;
  grid-row-start: 11;
  grid-row-end: 18;
}

.thumb-gride__ten {
  grid-column-start: 44;
  grid-column-end: 51;
  grid-row-start: 8;
  grid-row-end: 15;
}

.thumb-gride .element-item:hover {
  transform: scale(1.5);
}
