.page-header__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 62px;

    // background-color: transparent;
}

.page-header__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logo__icon {
    fill: skyblue;
}

.nav {
    @media screen and (max-width: 1279px) {
        display: none;
    }
}

.btn--page-header {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding: 60px 20px;
    background-color: getColor('bg-burger');

    z-index: 1;
}

.menu__icon {
    fill: getColor('bg-slide');
}

.btn--mobile-menu {
    width: 100%;
    margin-bottom: 19px;
}

.menu-toggle {
    position: absolute;
    top: 23px;
    right: 28px;
    background-color: transparent;    
}

.nav-menu__list {
    padding: 12px 0;
    width: 100vw;
    border-top: 1px solid getColor('border-burger');
    &:last-child {
        border-bottom: 1px solid getColor('border-burger');
    }
    @include text(DM Sans, 14px, 700, 1.29, null);
}

.nav-menu__link {
    color: getColor('primary');

}





