@mixin text ($ff, $fs, $fw, $lh, $ls){
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex($fd, $fw, $jc, $ai) {
    display: flex;  
    flex-direction: $fd;  
    flex-wrap: $fw;  
    justify-content: $jc;  
    align-items: $ai;
}

.conteiner {
  @media screen and (min-width: 320px){
   width: 320px;
     padding: 0 20px;
    margin: 0 auto;  
  }

  @media screen and (min-width: 768px){
   width: 768px; 
  }

  @media screen and (min-width: 1200px){
   width: 1200px; 
  }
}

.button {
  min-width: 150px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  padding-left: 37px;
  padding-right: 37px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}



.page-header{
    position: fixed;
    background-color: transparent;
}

.page-header__logo {
    
}
