.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.page-header__container {
  position: relative;
  top: 0;
  left: 0;
  min-width: 320px;
  height: 62px;
  background-color: transparent;
  z-index: 1;
}

.page-header__logo {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}


.logo__icon {
  fill: getColor('accent');
  stroke: getColor('accent');
}

.nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.btn--page-header {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-container {
  @media screen and (min-width: 1280px) {
    display: none;
  }

  @media screen and (max-width: 479px) {
    minwidth: 320px;
  }

  @include transition(transform, null);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;
  background-color: getColor('bg-burger');

  transform: translateX(100%);

  z-index: 1;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-icon__burger {
  fill: getColor('accent');
  stroke: getColor('accent');
}

.menu-icon {
  fill: getColor('primary');
  stroke: getColor('primary');
}

.btn--mobile-menu {
  width: 100%;
  margin: 0 auto 19px auto;
}

.menu-toggle--page-header {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.menu-toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.nav-menu__list {
  @include text(DM Sans, 14px, 700, 1.29, null);
  &::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;

    border-top: 1px solid getColor('border-burger');
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    border-top: 1px solid getColor('border-burger');
  }
}

.nav-menu__list::before {
  width: 100vw;

  @include text(DM Sans, 14px, 700, 1.29, null);
}

.nav-menu__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: getColor('primary');
  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.nav-menu__link--current {
  color: getColor('accent');
}
