.products__subtitle {
  text-transform: uppercase;
  color: getColor('secondary');
  text-align: center;
  margin-bottom: 15px;
  @include text(Titan One, 18px, 400, 1.166, null);
  @media screen and (min-width: 768px) {
    @include text(Titan One, 26px, 400, 1.154, null);
  }
  @media screen and (min-width: 1280px) {
    @include text(Titan One, 30px, 400, 1.133, null);
  }
}
.products__title {
  margin-bottom: 144px;
  text-transform: uppercase;
  color: getColor('accent');
  text-align: center;
  @include text(Titan One, 34px, 400, 1.147, 0.04em);
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    @include text(Titan One, 48px, 400, 1.146, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    @include text(Titan One, 58px, 400, 1.138, null);
  }
}
.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products__item {
  display: flex;
  margin-bottom: 130px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 280px;
  min-height: 485px;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    max-width: 220px;
    flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 0;
    padding-left: 11px;
    padding-right: 11px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 329px;
    min-height: 0;
    max-height: 525px;
    padding-bottom: 50px;
    flex-basis: calc(100% / 3 - 27px);
    padding-left: 44px;
    padding-right: 44px;
    &:not(:last-child) {
      margin-right: 27px;
    }
  }
}
.products__item.icecream {
  position: relative;
  background-color: getColor('bg-accent');

  &::before {
    content: url(../images/products_1-mobile.png);
    position: absolute;
    margin: 0;
    top: -113px;
    left: 15px;
    max-width: 249px;
    max-height: 252px;

    @media screen and (min-width: 768px) {
      top: -104px;
      left: 0;
      max-width: 220px;
      max-height: 226px;
      content: url(../images/products_1-tablet.png);
    }

    @media screen and (min-width: 1280px) {
      top: -210px;
      left: -3px;
      max-width: 335px;
      max-height: 335px;
      content: url(../images/products_1-desktop.png);
    }
  }
}
.products__item.coffee {
  position: relative;
  background-color: getColor('bg-prime');

  &::before {
    content: url(../images/products_2-mobile.png);
    position: absolute;
    top: -113px;
    left: 15px;
    max-width: 249px;
    max-height: 252px;

    @media screen and (min-width: 768px) {
      top: -104px;
      left: 0;
      max-width: 220px;
      max-height: 226px;
      content: url(../images/products_2-tablet.png);
    }

    @media screen and (min-width: 1280px) {
      top: -210px;
      left: -3px;
      max-width: 335px;
      max-height: 335px;
      content: url(../images/products_2-desktop.png);
    }
  }
}
.products__item.milkshakes {
  position: relative;
  background-color: getColor('bg-second');

  &::before {
    content: url(../images/products_3-mobile.png);
    position: absolute;
    top: -113px;
    left: 15px;
    max-width: 249px;
    max-height: 252px;

    @media screen and (min-width: 768px) {
      top: -104px;
      left: 0;
      max-width: 220px;
      max-height: 226px;
      content: url(../images/products_3-tablet.png);
    }

    @media screen and (min-width: 1280px) {
      top: -210px;
      left: -3px;
      max-width: 335px;
      max-height: 335px;
      content: url(../images/products_3-desktop.png);
    }
  }
}
.products__name {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 161px;
  margin-bottom: 66px;
  text-align: center;
  text-transform: uppercase;
  color: getColor('primary');
  @include text(Titan One, 20px, 400, 1.15, 0.04em);

  @media screen and (min-width: 768px) {
    padding-top: 152px;
  }
  @media screen and (min-width: 1280px) {
    @include text(Titan One, 30px, 400, 1.133, 0.04em);
    padding-top: 163px;
    margin-bottom: 70px;
  }

  &::after {
    content: '. . .';
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 214px;
    transform: translate(-50%, -50%);
    color: getColor('primary');
    @include text(Titan One, 20px, 400, 1.15, 0.04em);
    @media screen and (min-width: 768px) {
      top: 205px;
    }
    @media screen and (min-width: 1280px) {
      top: 229px;
    }
  }
}
.products__text {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  color: getColor('primary');
  @include text(DM Sans, 14px, 700, 1.52, 0.04em);

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 62px;
  }
}
.products__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-image: url(../images/products_arrow.png);
  background-size: 40px 40px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__btn {
    background-size: 40px 40px;
    background-image: url(../images/products_arrow@2x.png);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .products__btn {
    background-size: 40px 40px;
    background-image: url(../images/products_arrow@3x.png);
  }
}
