.slider__item {
  text-align: center;
  text-align: -webkit-center;
}

.slider__img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.slider__comment {
  position: relative;
  max-width: 480px;
  @include text(DM Sans, 12px, 500, 2.5, null);
  color: getColor('paragraph');
  background-color: getColor('bg-slide');
  padding: 42px 50px 27px;
  margin-bottom: 29px;
  @media screen and (min-width: 480px) {
    max-width: 620px;
    width: 100%;
    padding: 30px 38px;
    @include text(DM Sans, 14px, 500, 2.14, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
    width: 100%;
    padding: 32px 54px;
    @include text(DM Sans, 16px, 500, 1.88, 0.04em);
  }
}

.slider__text {
  background: repeating-linear-gradient(
    getColor('bg-slide') -5px,
    getColor('bg-slide') 23px,
    getColor('border') 25px,
    getColor('border') 25px
  );
}

.slider__ico-bg {
  position: absolute;
  top: 15px;
  left: 10px;
  fill: getColor('border');
  @media screen and (min-width: 480px) {
    top: 5px;
    left: 3px;
  }
  @media screen and (min-width: 1280px) {
    top: 10px;
    left: 10px;
  }
}

.slider__points {
  @include flex(null, null, center, null);
  margin-bottom: 18px;
}

.slider__ico-point {
  fill: getColor('accent--hover');
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.slider__name {
  @include text(DM Sans, 14px, 600, 1.86, null);
  color: getColor('paragraph');
  padding-bottom: 30px;
}

.slick-dots {
  @include flex(null, wrap, center, null);
  & button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: getColor('lide-marker');
    border-radius: 50%;
    border: none;
  }
  & li:not(:last-child) {
    margin-right: 18px;
  }
  & li.slick-active {
    background: url('../images/customer-home-ico.svg') center 10px no-repeat;
    & button {
      background-color: transparent;
    }
  }
}
